<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><%= userObj.name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="width: 100%;">
      <a class="nav-link" href="#"><%= userObj.email %></a>
      <a class="nav-link" href="#"><%= userObj.state.stateName %></a>
      <a class="nav-link ml-auto" href="/auth/logout">Logout</a>
    </div>
  </div>
</nav>